.App {
  text-align: center;
}

.dataset {
  max-width: 490px;
  margin: 0 auto 40px;
}

form {
  max-width: 500px;
  margin: auto;
}

label {
  margin-right: 10px;
}

input[type=text] {
  width: 75px;
  margin-right: 50px;
}

input[type=button] {
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
